<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курс</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/student/headerStyles.css}">
</head>
<body>
<div th:replace="~{student/header :: content}"></div>

<p th:text="${courseDTO.course.getCourseTitle()}"></p>
<div>
    <iframe width="560" height="315" th:src="${courseDTO.course.introUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div th:switch="${wasBought}">
    <div th:case="true">
        <div th:each="courseMaterial:${courseDTO.getCourseMaterials()}">
            <a th:href="@{/student/course/{courseId}/courseMaterial/{materialId}(courseId=${id}, materialId=${courseMaterial.courseMaterialId})}" th:text="${courseMaterial.materialName}"></a>
        </div>
        <div th:if="${courseDTO.getStatus()}">
            <a th:href="@{/student/download-pdf}">Отримати сертифікат</a>
        </div>
        <div th:else th:if="${!courseDTO.getStatus() && courseDTO.getProgress()==100}">
            <a>Завершити курс</a>
        </div>
    </div>
    <div th:case="false">
        <div th:each="courseMaterial:${courseDTO.getCourseMaterials()}">
            <p th:text="${courseMaterial.materialName}"></p>
        </div>
        <a th:href="@{/student/course/{id}/buy(id=${id})}">buy</a>
    </div>
</div>

</body>
</html>