<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body class="headerBody">

<div class="headerDiv" th:fragment="content">
    <nav>
        <ul>
            <li><a class="headerA" href="/student/myCourses">Мої курси</a></li>
            <li><a class="headerA" href="/student/courses" onclick="localStorage.clear()">Курси</a></li>
            <li class="dropdown">
                <a th:text="${user.firstName} + ' ' + ${user.lastName}" href="#">menu</a>
                <ul class="dropdown-menu">
<!--                    <div>-->
<!--                        <li><a th:href="@{/student/{id}/profile(id=${user.id})}">Профіль</a></li>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <li><a href="/authorization">Редагувати профіль</a></li>-->
<!--                    </div>-->
                    <div>
                        <li><a href="/logout" onclick="localStorage.clear()">Вийти</a></li>
                    </div>
                </ul>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>