<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{student/header :: content}"></div>

<div th:each="task:${tasks}">
    <div th:if="${task.variants.size() > 0}">
    <p th:text="${task.task.taskName}"></p>
    <div th:each="variant:${task.variants}">
        <input th:class="${task.task.id}" type="checkbox">
        <p th:text="${variant.value}"></p>
    </div>
    <input th:id="${task.task.id}" onclick="getCheckboxesValue(this)" type="submit" value="send">
    </div>
</div>

<a th:href="@{/student/course/{courseId}/courseMaterial/{materialId}(courseId=${courseId}, materialId=${materialId})}">finish</a>
<script>
    function getCheckboxesValue(obj){
        let checkboxes = document.getElementsByClassName(obj.id);
        let answer = '';
        for (let index = 0; index < checkboxes.length; index++) {
            checkboxes[index].checked?answer+="1":answer+="0";
        }
        $.ajax({
            method: "POST",
            url:"/student/course/checkAnswers",
            data:{taskId: obj.id, taskAnswer: answer}
        })
    }
</script>
</body>
</html>