<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${courseInfo.getCourse().getCourseTitle()}">Course name</title>
</head>
<body>
<div th:replace="teacher/header :: content"></div>
<form method="post" th:action="@{/teacher/uploadCourseImg}" enctype="multipart/form-data">
    <input type="hidden" name="cId" th:value="${courseInfo.getCourse().getId()}">
    <input type="file" name="img" accept="image/*" class="form-control-file">
    <button type="submit">Upload image</button>
</form>

<img th:src="${courseInfo.course.pictureUrl}">

<p th:text="${courseInfo.getCourse().getCourseTitle()}"></p>
<p th:text="${courseInfo.getCourse().getTeacherName()}"></p>
<p th:text="${courseInfo.getCourse().getPrice()}"></p>
<a th:href="@{/teacher/course/{id}/newMaterial(id=${id})}">add new material</a>
<div th:each="element : ${courseInfo.getCourseMaterials()}">
    <div>
        <a th:href="@{/teacher/course/{courseId}/courseMaterial/{materialId}(courseId=${id}, materialId = ${element.courseMaterialId})}"
           th:text="${element.materialName}"></a>
    </div>
</div>
<div>
    <a th:href="@{/teacher/deleteCourse/{id}( id = ${id})}">Видалити курс</a>
</div>
</body>
</html>