<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${courseInfo.getCourse().getCourseTitle()}">Course name</title>
</head>
<body>
<div th:replace="teacher/header :: content"></div>

    <p th:text="${courseInfo.getCourse().getCourseTitle()}"></p>
    <p th:text="${courseInfo.getCourse().getTeacherName()}"></p>
    <p th:text="${courseInfo.getCourse().getPrice()}"></p>
    <a th:href="@{/teacher/course/{id}/newMaterial(id=${id})}" >add new material</a>
    <div th:each="element : ${courseInfo.getCourseMaterials()}">
        <div>
            <a th:href="@{/teacher/course/{courseId}/courseMaterial/{materialId}(courseId=${id}, materialId = ${element.courseMaterialId})}" th:text="${element.materialName}"></a>
        </div>
    </div>
</body>
</html>