<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>

</head>
<body>
<script type="text/javascript">
    $(document).ready(function (){
        $.get('/teacher/courses', function (data){
            console.log(data);
        })
    });
</script>
<div th:each="element : ${courses}">
  <div>
    <a th:href="@{/teacher/course/{id}(id=${element.pk.course.id})}" th:text="${element.pk.course.courseTitle}"></a>
  </div>
</div>

</body>
</html>