<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="teacher/header :: content"></div>
<form method="post" th:action="@{/teacher/createCourse}" th:object="${course}">
    <div>
        <input type="text" name="courseTitle" placeholder="course title">
    </div>
    <div>
        <input type="text" name="price" placeholder="price">
    </div>
    <div>
        <select name="complexity">
            <option value="beginner">Початковий</option>
            <option value="intermediate" selected>Середній</option>
            <option value="expert">Високий</option>
        </select>
    </div>
    <div>
        <input type="submit" value="create course">
    </div>
</form>

</body>
</html>