<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="teacher/header :: content"></div>
<div>
<iframe width="560" height="315" th:src="${courseMaterial.videoUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div th:each="element : ${tasks}">
     <a th:href="@{/teacher/course/{courseId}/courseMaterial/{materialId}/task/{taskId}(courseId=${idOfCourse}, materialId=${idOfMaterial},taskId=${element.id})}" th:text="${element.taskName}"></a>
</div>

<form method="post" th:action="@{/teacher/createNewTask}" th:object="${task}">
    <input name="taskName" placeholder="task name">
    <textarea name="description" placeholder="description"></textarea>
    <div>
        <input type="hidden" name="cId" th:value="${idOfCourse}">
    </div>
    <div>
        <input type="hidden" name="cmId" th:value="${idOfMaterial}">
    </div>
    <input type="submit" value="create task">
</form>


</body>
</html>